<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #225105;">
  <a class="navbar-brand" style="color: #fff; margin-left: 30px;" href="#">Smart Farm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: #fff;" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">ประวัติความเป็นมา</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a class="nav-link" style="color: #fff; margin-right: 30px;" target="_blank" href="https://www.facebook.com/%E0%B9%82%E0%B8%84%E0%B8%A3%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B9%88%E0%B8%B2%E0%B8%A2%E0%B8%AA%E0%B8%A3%E0%B8%A3%E0%B8%AA%E0%B8%B2%E0%B8%A3%E0%B8%B0-%E0%B8%A1%E0%B8%88%E0%B8%9E-957685590939837/">โครงการค่ายสรรสาระ มจพ.</a>
      </li>
    </ul>
  </div>
</nav>
