<nav class="navbar"  style="background-color: #333;">
  <div class="col-sm-4 navbar-inner">
    <img class="navbar-brand" style="width: 50px; height: 60px; color: #fff; margin-left: 0px;" src="image/Sansara.png"></img>
    <a class="navbar-brand" style="color: #ddd; float: left; padding-top: 24px; font-size: 20px;" href="#">Smart Farm</a>
  </div>
  <div class="col-sm-4"></div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="col-sm-4 collapse navbar-collapse">
    <ul class="input-group nav navbar-nav pull-right">
      <li>
        <a class="nav-link" style="color: #fff; margin-right: 20px; padding-top: 25px;" target="_blank" href="logout">Logout</a>
      </li>
      <li>
        <a class="nav-link" style="color: #fff; margin-right: 20px; padding-top: 25px;" target="_blank" href="https://www.facebook.com/%E0%B9%82%E0%B8%84%E0%B8%A3%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B9%88%E0%B8%B2%E0%B8%A2%E0%B8%AA%E0%B8%A3%E0%B8%A3%E0%B8%AA%E0%B8%B2%E0%B8%A3%E0%B8%B0-%E0%B8%A1%E0%B8%88%E0%B8%9E-957685590939837/">โครงการค่ายสรรสาระ มจพ.</a>
      </li>
    </ul>
  </div>
</nav>
