<style>
/*body {
    color: #FFFFFF;
}*/
.jumbotron {
    background-color: #FFFFFF;
}
#value-controls {
  margin: 12px 0px 0px 20px;
}

.login-div {
  height: 320px;
  width: 400px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  position: fixed;
  top: 70%;
  left: 50%;
  margin-top: -160px;
  margin-left: -200px;
}

.login-text {
  width: 70%;
  /*margin: 0px 20px 0px 20px;*/
}

/**/
body {
  background: #555 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
/*.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

#main-panel {
  position: fixed;
  top: 60px;
  padding: 20px 0px 30px 0px;
  width: 100%;
}



body {
  background-color: #333;
  font-family: Arial;
}

.tabs {
  box-shadow: 0px 2px 15px 2px;
  position: fixed;
  margin-top: 35px;
  left: 50%;
  width: 100%;
  min-width: 450px;
  transform: translate(-50%, -50%);
}

.label, #slider {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  background: white;
  color: #AAA;
  width: 33%;
  height: auto;
  padding: 20px 0px;
}

.label:hover {
  color: #666;
  cursor: pointer;
}

.tabs [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 50px; right: 0; bottom: 0; left: 0;
  background: #aaa;
  padding: 20px;
  box-shadow: inset 0px 5px 5px -5px;
  display: none;
}

#slider {
  background-color: transparent;
  position: absolute;
  border-bottom: 3px solid #000;
  margin: 7px 10px;
  transition: transform 0.5s;
  /*transform: translate(50%, 50%);*/
  top: 0px;
  width: 31%;
}

[type=radio],#overall:checked ~ #slider {
  transform: translate(0px, 0px);
}

[type=radio],#temp:checked ~ #slider {
  transform: translate(33.33vw, 0px);
}

[type=radio],#humid:checked ~ #slider {
  transform: translate(66.66vw, 0px);
}

[type=radio]:checked + label {
  color: #000;
}

[type=radio]:checked + label + .content {
  display: inline-block;
}
</style>
