<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <style>
  #value-controls {
    margin: 12px 0px 20px 0px;
    border: 1px solid #ddd;
    padding: 12px 0px 30px 0px;
    border-radius: 20px;
  }

  </style>

  <% include ../partials/nav.ejs %>
  <div class="jumbotron">
    <center>
    <div style="width: 90%">
      <div class="row align-items-center justify-content-center">
        <div><b>แผงควบคุมวาล์วน้ำ</b></div>
        <div id="value-controls" class="input-group">
          <div class="col-sm-3">
            <center>
              <div><b>วาล์ว 1</b></div>
              <input type="checkbox" class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><b>วาล์ว 2</b></div>
              <input type="checkbox" class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><b>วาล์ว 3</b></div>
              <input type="checkbox" class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
          <div class="col-sm-3">
            <center>
              <div><b>วาล์ว 4</b></div>
              <input type="checkbox" class="valve-checkbox" data-on-text="เปิด" data-off-text="ปิด" data-on-color="success" data-off-color="danger" checked>
            </center>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center" style="margin: 0px; padding: 0px;">
          <iframe src="http://35.198.211.170:3000/dashboard/db/smart-farm?orgId=1&refresh=10s" width="1300" height="1250" frameborder="0" style="margin: 0px; padding: 0px;"></iframe>
      </div>
    </div>
  </center>
  </div>

  <script>
    $(".valve-checkbox").bootstrapSwitch();
  </script>

</body>
</html>
