<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<style>
  body {
    background: url("/image/bg.jpg") no-repeat center center fixed;
    background-size: auto 100%;
  }
</style>
<body background="image/bg.jpg">
  <center>
    <img id="logo" src="image/Sansara.png">
    <div class="login-div">
      <h4 style="margin: 20px 0px 20px 0px;">เข้าสู่ระบบสมาชิก</h4>
      <div class="form-group">
        <label for="usr">ชื่อผู้ใช้</label>
        <input type="text"  class="form-control login-text" style="width: 80%;" id="usr" >
      </div>
      <div class="form-group" >
        <label for="pwd">รหัสผ่าน</label>
        <input type="password" class="form-control login-text" style="width: 80%;" id="pwd">
      </div>
      <button id="login-btn" class="btn" style="margin: 20px 0px 20px 0px;">เข้าสู่ระบบ</button>
    </div>
  </center>
</body>
<script>
    var authen = function() {
      var user = $("#usr").val()
      var pass = $("#pwd").val()
      if(user != "" && pass != "") {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
           if(this.responseText == "success"){
             window.location.reload()
           }else{
             alert("ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง")
           }
          }
        };
        xhttp.open("POST", "login", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("user="+user+"&pass="+pass);
      }else{
        alert("โปรดใส่ชื่อผู้ใช้และรหัสผ่าน")
      }
    }

  $("#login-btn").click(authen)
  $("input").keypress(function(e) {
    if(e.which == 13) {
        authen()
    }
});


  $(document).ready(function(){
    var w = screen.width;
    var h = screen.height;
    if(h < w){
      $("#logo").css('width', '25vw')
    }else{
      $("#logo").css('width', '30vh')
      $("#logo").css('margin-top', '15vh')
    }
  })
</script>
</html>
